.footerlinks {
    color: azure;
    text-decoration: none !important;
}

    .footerlinks:hover{
        color: aquamarine;
    }

#footer1{
    background-color: orange;
}

#footer2{
    background-color: orange;
}